@font-face {
  font-family: 'iconfont';  /* project id 1738066 */
  src: url('https://at.alicdn.com/t/font_1738066_vz66q3gagj.eot');
  src: url('https://at.alicdn.com/t/font_1738066_vz66q3gagj.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1738066_vz66q3gagj.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1738066_vz66q3gagj.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1738066_vz66q3gagj.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1738066_vz66q3gagj.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsaoma:before {
  content: "\e7aa";
}

.iconshouqi:before {
  content: "\e632";
}

.iconzhankai:before {
  content: "\e633";
}

.iconclose:before {
  content: "\e615";
}

.iconclose1:before {
  content: "\e60f";
}

.iconyueduye-pifuxuanzhongzhuangtai:before {
  content: "\e61e";
}

.iconjiahao:before {
  content: "\e726";
}

.iconjiahao1:before {
  content: "\e616";
}

.iconjiantou:before {
  content: "\e84f";
}

.iconarrow-right:before {
  content: "\e743";
}

.iconarrow-lift:before {
  content: "\e744";
}

.iconarrow-up:before {
  content: "\e745";
}

.iconarrow-down:before {
  content: "\e7b2";
}

.icon41:before {
  content: "\e62b";
}

.iconliebiao:before {
  content: "\e6b6";
}

.iconyoujiantou:before {
  content: "\e61c";
}
